<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/css/gestionar.css">
    <title>Gestionar Coches</title>
</head>
<body>
	<nav class="barra-menu">
	    <div class="logo"><img class="logo-img" src="images/logo.png"></div>
	    <ul>
	        <li><a href="/panel"><i class="fas fa-home"></i> Inicio</a></li>
	        <li><a href="/insertar"><i class="fas fa-plus"></i> Insertar</a></li>
	        <li class="usuario">
	            <a href="/usuario"><img id="imagen-perfil" src="/imagenes/default.png" alt="Usuario"></a>
	        </li>
	        <li><a href="/gestionar/logout"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a></li>
	    </ul>
	</nav>
    <div class="consulta-container">
        <h1>Gestionar Coches</h1>
        <form action="" method="" name="">
            <div class="buscar-container">
                <i class="fas fa-search"></i>
                <input type="text" placeholder="Buscar">
            </div>
        </form>
		<div class="leyenda-filtros">
            <p><strong>Instrucciones de búsqueda:</strong></p>
            <p>- Búsqueda general: escribe cualquier palabra.</p>
            <p>- Filtros-> cod:, marca:, modelo:, fecha:, matricula:, chasis:</p>
        </div>
        <div class="mostrarConsulta-container">
            <table>
				<thead>
	                <tr>
						<th>Cod</th>
	                    <th>Marca</th>
	                    <th>Modelo</th>
	                    <th>fecha</th>
	                    <th>Matrícula</th>
	                    <th>Número de Chasis</th>
	                    <th>Acciones</th>
	                </tr>
				</thead>
				<tbody>
					
				</tbody>
            </table>
        </div>
    </div>
	<script src="/js/buscador.js"></script>
</body>
</html>
