<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/css/usuario.css?v=2.0">
	<script src="/js/usuario.js"></script>
    <title>Configuración de Usuario</title>
</head>
<body>
    <nav class="barra-menu">
        <div class="logo">Configuración de Usuario</div>
        <ul>
            <li><a href="/panel"><i class="fas fa-home"></i> Inicio</a></li>
            <li><a href="/insertar"><i class="fas fa-plus"></i> Insertar</a></li>
            <li><a href="/gestionar"><i class="fas fa-search"></i> Consulta</a></li>
            <li class="usuario">
                <a href="/usuario"><img src="https://plus.unsplash.com/premium_photo-1689568126014-06fea9d5d341?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8cGVyZmlsfGVufDB8fDB8fHww" alt="Usuario"></a>
            </li>
            <li><a onclick="document.getElementById('logoutForm').submit(); return false;" href="/login"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a></li>

			<form id="logoutForm" action="/logout" method="post" style="display: none;"></form>
        </ul>
    </nav>
    <div class="configuracion-container">
        <div class="perfil-usuario">
            <img src="https://plus.unsplash.com/premium_photo-1689568126014-06fea9d5d341?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8cGVyZmlsfGVufDB8fDB8fHww" alt="Usuario">
            <h2 id="nombre" th:text="${nombreUsuario}">(nombre de usuario)</h2>
        </div>
        <form action="/usuario" method="POST" autocomplete="off">
			<div class="input-container">
                <label for="email">Nombre de Usuario:</label>
                <input type="text" id="User" name="User" >
            </div>
            <div class="input-container">
                <label for="email">Correo Electrónico:</label>
                <input type="email" id="email" name="email" >
            </div>
            <div class="input-container">
                <label for="password">Nueva Contraseña:</label>
                <input type="password" id="password" name="password" >
            </div>
            <div class="input-container">
                <label for="confirm-password">Confirmar Contraseña:</label>
                <input type="password" id="confirm-password" name="confirm_password" >
            </div>
            <div class="input-container">
                <label for="imagen-perfil">Imagen de Perfil:</label>
                <input type="file" id="imagen-perfil" name="profile-pic" accept="image/*">
				<button type="submit">Guardar Cambios</button>
            </div>
        </form>
		<p class="msg" th:utext="${mensaje}">mensaje de la consola</p>
    </div>
	<!-- Modal de confirmación -->
	<div id="modal-confirmacion" class="modal oculto">
	    <div class="modal-contenido">
	        <h3>Confirmar con tu contraseña</h3>
	        <input type="password" id="passwordConfirmacion" placeholder="Contraseña actual" name="password_obl" required>
	        <div class="botones">
	            <button id="confirmarBtn">Confirmar</button>
	            <button id="cancelarBtn">Cancelar</button>
	        </div>
	    </div>
	</div>

	<!-- Capa difuminada -->
	<div id="overlay" class="overlay oculto"></div>
</body>
</html>
